<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<!-- contains links to the category's posts (FAILED - 1) -->
<% @posts.each do |post|%>
<%= link_to post.title, post_path(post)%>
<% end %>
